.news-entry{:class => "tumblr-#{news["type"]}"}
  %h4
    = news["regular_title"].blank? ? news["type"] : news["regular_title"]
  .entry-date= Time.parse(news["date"]).strftime("le %d/%m/%Y à %H:%H")
  
  - unless news["photo_url"].blank?
    = image_tag news["photo_url"].first
  
  - unless news["video_player"].blank?
    = raw news["video_player"]
    = raw news["video_caption"]
    
  = raw news["regular_body"]
  = raw news["photo_caption"]
