.left
  %h2 Site web
  %p
    Les photos illustrant le site ont été prises par 
    = link_to "Yann Stofer", "http://www.yannstofer.com/" 
    = "."
  %p
    Design & développement par 
    = link_to "Marc G Gauthier", "http://twitter.com/marcgg"
    avec l'aide de 
    = link_to "Kevin Tunc", "http://twitter.com/kevintunc"
    pour certains éléments de graphisme.
  
  %h4 Technique & Graphisme
  %p
    Site web réalisé avec Ruby on Rails. Si vous souhaitez améliorer le site, le code disponible
    = link_to "sur Github", "https://github.com/marcgg/miaa"
    et open source. Les librairies utilisées incluent haml, compass, scss, jQuery, rspec, rr, curb.
  
  %p
    La police de caractère principale est
    = link_to "Code Free Font", "http://fontfabric.com/code-free-font-3/"
    , la secondaire est
    = link_to "PR8Charade", "http://www.dafont.com/pr8-charade.font"
    = "."
    
