.left
  #presentation
    %h3 Notre action est simple
    %p 
      Nous distribuons chaque jour des repas et des vêtements à ceux qui ne peuvent ou ne veulent 
      aller dans les cantines populaires et les points d'accueil et de distribution.
      = link_to "En savoir plus", presentation_path, :class => "learn-more"
    
    %h3 Nous avons besoin d'aide
    %p 
      Cela passe par différentes possiblités de dons: du temps, des vêtements, du matériel ou
      de l'argent. C'est de notre solidarité et de notre générosité que dépend la vie de centaine d'autres.
      = link_to "En savoir plus", give_path, :class => "learn-more"
      
.right
  %h2 S'inscrire à la Newsletter
  - if flash
    - unless flash[:error].blank?
      %p.error= flash[:error]
    - unless flash[:notice].blank?
      %p.notice= flash[:notice]
  %p
    - form_for Subscriber.new do |f|
      = f.text_field :email, :class => "text"
      = f.submit "OK", :class => "button"
  
  %h2 Nous Suivre sur Facebook
  %p 
    Facebook?
    
#help-us-wrapper
  #help-us
    %h2 Nous soutenir
    .small-left
      %h4 Devenez bénévole et agissez avec nous
      %p
        Rejoignez MIAA dans ses activités.
      %ul
        %li 
          %strong Simple.
          Chacun décide son tempo en fonction de sa disponibilité et de ses dates
        %li 
          %strong Sans formation
          , sans formalités. L'inscription se fait tout simplement par email.
        %li 
          %strong Utile.
          Nous recherchons toujours plus de bénévoles.
      
      %p
        Apprennez en plus, lisez
        = link_to "le récit d'une journée chez MIAA", a_day_there_path
        ou bien apprennez 
        = link_to "comment devenir bénévole.", join_path
        
    .big-right
      %h4 Faites un don
      %p
        MIAA peut assurer 
        %strong 100 repas par jour
        , 5 jours par semaine toute l'année, si chacun décide de nous verser 5 euros par mois.
      %p
        Vous pouvez faire vos dons par chèque ou par virement.
        = link_to "En savoir plus", give_path, :class => "learn-more"
        
.left
  = link_to "", "http://miaa-asso.tumblr.com/rss", :title => "Suivre en RSS", :id => "news-rss"
  %h2 Actualité
  #news
    %p 
      Chargement des actualités, veuillez patienter...
  %p
    = link_to "Lire les messages plus anciens", news_path
    
.right
  %h2 A voir, à lire...
  %p
    :plain
      <iframe title="YouTube video player" width="300" height="199" src="http://www.youtube.com/embed/4Gg4hUIF8A4?rel=0" frameborder="0" allowfullscreen></iframe>
  
  %p
    Des images pour le dire... merci à Hervé pour cette vidéo.
  
  %h5 Compte rendu de maraude par Elsa
  %p
    "J'arrive  pour la maraude de 11 heures, L’accueil est chaleureux et agréable. Intégrée dans une équipe, nous sommes 
    équipées d'une voiture, d'un pilote, de repas à distribuer, un plan et un itinéraire à suivre."
  %p
    = link_to "Lire la suite", a_day_there_path
  
- content_for :on_doc_ready do
  getNews();