.left
  #presentation
    %h3 Notre action est simple
    %p 
      Nous distribuons chaque jour des repas et des vêtements à ceux qui ne peuvent ou ne veulent 
      aller dans les cantines populaires et les points d'accueil et de distribution.
      = link_to "En savoir plus", presentation_path, :class => "learn-more"
    
    %h3 Nous avons besoin d'aide
    %p 
      Cela passe par différentes possiblités de dons: du temps, des vêtements, du matériel ou
      de l'argent. C'est de notre solidarité et de notre générosité que dépend la vie de centaine d'autres.
      = link_to "En savoir plus", give_path, :class => "learn-more"
      
.right
  %h2 S'inscrire à la Newsletter
  %p
    blah
  
  %h2 Nous Suivre sur Facebook
  %p 
    Facebook?
    
#help-us-wrapper
  #help-us
    %h2 Nous soutenir
    .small-left
      %h4 Devenez bénévole et agissez avec nous
      %p
        Rejoignez MIAA dans ses activités.
      %ul
        %li 
          %strong Simple.
          Chacun décide son tempo en fonction de sa disponibilité et de ses dates
        %li 
          %strong Sans formation
          , sans formalités. L'inscription se fait tout simplement par email.
        %li 
          %strong Utile.
          Nous recherchons toujours plus de bénévoles.
      
      %p
        Apprennez en plus, lisez
        = link_to "le récit d'une journée chez MIAA", a_day_there_path
        ou bien apprennez 
        = link_to "comment devenir bénévole.", join_path
        
    .big-right
      %h4 Faites un don
      %p
        MIAA peut assurer 
        %strong 100 repas par jour
        , 5 jours par semaine toute l'année, si chacun décide de nous verser 5 euros par mois.
      %p
        Vous pouvez faire vos dons par chèque ou par virement.
        = link_to "En savoir plus", give_path, :class => "learn-more"
        
.left
  %h2 Actualité
  %h4 C'est la reprise des maraudes régulières avec l'hiver
  
.right
  %h2 A voir, à lire...
  %p
    :plain
      <iframe title="YouTube video player" width="300" height="199" src="http://www.youtube.com/embed/4Gg4hUIF8A4?rel=0" frameborder="0" allowfullscreen></iframe>
  
  %p
    Des images pour le dire... merci à Hervé pour cette vidéo.