.left
  %h2 MIAA
  %h4 L'Association
  %p
    Miaa est une association qui cuisine et distribue des repas, à raison d’une centaine par jour, sous
    la forme de maraudes, quatre à cinq midis par semaine, et dans la mesure du possible toute
    l’année. Il s’agit d’un geste de générosité simple, à la fois dérisoire au vu de la misère qui nous
    entoure, et indispensable dès lors qu’il soulage quelqu’un qui a faim.
  
  %h4 Le Fonctionnement
  %p
    Notre mode de fonctionnement, basé sur la participation de bénévoles proposant leur aide au gré
    de leurs disponibilités sans engagement régulier ou à long terme, nous a conduits vers cette forme
    d’action. Celle-ci s’est affinée au fil de deux ans et demi d’expérience et conforte notre conviction
    dans l’utilité d’une aide de première nécessité.

  %p
    Mais si nous n’avons ni vocation ni compétences à un travail de réinsertion, nous ne pouvons
    accepter qu’il nous soit reproché d’installer les gens sur les trottoirs, ou de contrarier d’une
    quelconque manière un projet visant à résoudre en profondeur la question des sans-abri.

  %h4 Le Contact
  %p
    Notre contact, notre démarche d’aller vers les plus démunis et les quelques mots que
    nous échangeons avec eux constituent un lien social, et permettent même modestement, de lutter
    contre un isolement irréversible.
  %p
    A plus forte raison que notre postulat de départ est sans appel : ne faire aucune discrimination et
    se mettre à la portée de tous. Si quelqu’un prend le repas que nous lui tendons, c’est que lui ou un
    de ses proches en a besoin.
  
  %h4 Les Maraudes
  %p
    Nos maraudes ne sont pas des parcours fixes. Nous avons bien établi deux zones de
    distribution de repas, mais que chacun sillonne selon ses habitudes et les aléas de la circulation.
    Chaque jour, le commentaire au retour des maraudes est le même : il n’y a pas deux tournées qui
    se ressemblent. La météo, l’heure de passage, l’endroit, le jour de la semaine n’expliquent qu’en
    partie pourquoi nous ne rencontrons pas toujours les mêmes personnes.
  %p
    Nous avons appris que les gens de la rue se déplacent, ont leurs habitudes, fuient les lieux où ils
    ne se sentent plus en sécurité, ont des opportunités de connaître de meilleures conditions de vie
    ne serait-ce que temporairement… Même les SDF les plus sédentaires n’attendent pas la voiture
    Miaa. Ils se réjouissent du repas chaud que nous offrons mais continuent de vivre au jour le jour.

  %h4 La Précarité
  %p
    La très grande précarité touche des profils très différents et la détresse revêt des visages
    tout aussi divers.
  %p
    Il est évident que certaines personnes, depuis très longtemps dans la rue, qu’elles soient résignées
    ou malades, ne parviendront pas à se réinsérer. Pour autant, il n’y a pas de raison de ne pas leur
    proposer à manger. Même ceux qui n’ont plus la force d’effectuer la moindre démarche ne se
    laissent pas mourir.

  %p
    Nous constatons tous les jours de la part des plus démunis une vraie volonté de ne pas
    se laisser couler et de rester physiquement dans la société.
  %p
    Pour preuve, les vêtements et produits d’hygiène que nous distribuons en plus de la nourriture et
    des boissons chaudes sont très demandés. Shampoing, savons, rasoirs, brosses à dents, serviettes
    hygiéniques, couches ne sont pas faciles à se procurer, et là encore notre association joue un rôle
    de première nécessité.

  %h4 En Conclusion
  %p
    En conclusion, il était important de rappeler qu’un repas offert de temps en temps n’incite
    assurément aucun individu qui souffre de très grande précarité à ne pas tenter de s’en sortir.
    D’autre part, Miaa agit en complément d’autres actions, qu’elle ne peut que soutenir et
    encourager, et c’est en toute conscience de ces moyens que notre association tient à continuer
    d’évoluer à son niveau modeste mais nécessaire.
  
  %p.more
    = link_to "Télécharger le dossier de presse", "/documents/miaa_dossier_de_presse.pdf"
    
.right
  = image_tag "photos/car.jpg"
  = image_tag "photos/make_food.jpg"
  = image_tag "photos/making_food.jpg"
  = image_tag "photos/pants.jpg"
  = image_tag "photos/give_cup.jpg"
  